body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 103.36%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}

@font-face {
  font-family: 'oss-docs';
  src: url("../fonts/oss-docs.eot?#iefix") format('embedded-opentype'), url("../fonts/oss-docs.woff") format('woff'), url("../fonts/oss-docs.ttf") format('truetype'), url("../fonts/oss-docs.eot#svgFontName") format('svg');
  font-weight: normal;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  cursor: pointer;
}

h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  content: '\e800';
  position: absolute;
  left: -1em;
  font-family: oss-docs;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  font-size: 0.7em;
  padding-top: 0.48em;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2:hover:before,
h3:hover:before,
h4:hover:before,
h5:hover:before,
h6:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  left: -1.3em;
}

body {
  padding: 0;
  margin: 0;
  font-family: freight-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background: #ea6060;
  color: #fff;
  padding: 115px 0;
}

header .contain {
  width: 227px;
  margin: 0 auto;
  zoom: 1;
}

header .contain:before,
header .contain:after {
  content: "";
  display: table;
}

header .contain:after {
  clear: both;
}

header img {
  float: left;
}

header h1 {
  font-weight: 300;
  float: left;
  font-size: 2.8em;
  margin: 0 0 0 25px;
}

nav {
  background: #3f3f3f;
  color: #fff;
  padding: 12px 0;
  text-align: center;
}

nav a {
  border: none;
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav a:hover {
  border: none;
  text-decoration: none;
  color: inherit;
}

nav a:visited {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

nav a:last-child {
  margin-right: 0;
}

.wrapper {
  width: 680px;
  margin: 50px auto;
  clear: both;
}

.wrapper h2,
.wrapper h3 {
  color: #333;
}

.wrapper h3 {
  text-transform: uppercase;
  margin: 0.9em 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 3px;
  font-size: 1em;
}

.wrapper h5 {
  margin: 1em 0 -0.5em 0;
  font-size: 1.1em;
}

.wrapper p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}

.wrapper p code {
  padding: 3px 4px;
  color: #df5c33;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 0.9em;
}

.wrapper a {
  color: #d13f19;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}

.wrapper a:hover {
  border-bottom: 1px solid;
}

.wrapper a:hover {
  color: #b23615;
}

.wrapper a:visited {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.wrapper pre {
  background: #333;
  padding: 12px 20px 15px;
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1.05em;
  color: #fff;
  border-radius: 3px;
  line-height: 1.1em;
}

.hljs {
  background: none;
}

footer a {
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../img/built-at-carrot.svg") no-repeat;
  width: 109px;
  height: 36px;
  margin: 50px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
