.test-between {
  color: #f00;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .test-between {
    color: #00f;
  }
}
.old-ie .test-between {
  color: #00f;
}
@media only screen and (max-width: 400px) {
  .test-between {
    color: #0f0;
  }
}
.old-ie .test-between {
  color: #0f0;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .test-between {
    color: #fff;
  }
}
.old-ie .test-between {
  color: #fff;
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .test-between {
    color: #000;
  }
}
.old-ie .test-between {
  color: #000;
}
@media only screen and (max-width: 500px) {
  .test-between {
    color: #eee;
  }
}
.old-ie .test-between {
  color: #eee;
}
@media only screen and (min-width: 200px) {
  .test-between {
    color: #ccc;
  }
}
.old-ie .test-between {
  color: #ccc;
}
.test-at {
  color: #f00;
}
@media only screen and (max-width: 400px) {
  .test-at {
    color: #fff;
  }
}
.old-ie .test-at {
  color: #fff;
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .test-at {
    color: #00f;
  }
}
.old-ie .test-at {
  color: #00f;
}
.test-above {
  color: #f00;
}
@media only screen and (min-width: 500px) {
  .test-above {
    color: #00f;
  }
}
.old-ie .test-above {
  color: #00f;
}
.test-below {
  color: #f00;
}
@media only screen and (max-width: 500px) {
  .test-below {
    color: #00f;
  }
}
.old-ie .test-below {
  color: #00f;
}
.test-mobile {
  color: #f00;
}
@media only screen and (max-width: 400px) {
  .test-mobile {
    color: #00f;
  }
}
.old-ie .test-mobile {
  color: #00f;
}
.test-tablet {
  color: #f00;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .test-tablet {
    color: #00f;
  }
}
.old-ie .test-tablet {
  color: #00f;
}
.test-desktop {
  color: #f00;
}
@media only screen and (min-width: 1050px) {
  .test-desktop {
    color: #00f;
  }
}
.old-ie .test-desktop {
  color: #00f;
}
.test-hd {
  color: #f00;
}
@media only screen and (min-width: 1800px) {
  .test-hd {
    color: #00f;
  }
}
.old-ie .test-hd {
  color: #00f;
}
.test-retina {
  color: #f00;
}
@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .test-retina {
    color: #00f;
  }
}
.old-ie .test-retina {
  color: #00f;
}
.test-landscape {
  color: #f00;
}
@media only screen and (orientation: landscape) {
  .test-landscape {
    color: #00f;
  }
}
.old-ie .test-landscape {
  color: #00f;
}
.test-portrait {
  color: #f00;
}
@media only screen and (orientation: portrait) {
  .test-portrait {
    color: #00f;
  }
}
.old-ie .test-portrait {
  color: #00f;
}
