.hello
  color: red

  +between(500px, 700px)
    color: blue

  +between(0, 1)
    color: lime

  +between(2, 4)
    color: white

  +between(2, 600px)
    color: black

  +between(0, 500px)
    color: #eee

  +between(200px, length(rupture.scale))
    color: #ccc
